<!DOCTYPE HTML>
<!-- 引入thymeleaf 模板-->
<html xmlns:th="http://www.thymeleaf.org" >

<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 引入 jquery.js-->
  	<script type="text/javascript" th:src="@{/webjars/jquery/jquery.js}"></script> 
    <!--引入  bootstrap-->
 	<script src="webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="webjars/bootstrap/css/bootstrap.min.css" />

    
</head>
<body>
<h1 align="center" >
		home主页
</h1>
<h3 th:text=${modelAndView}></h3>
<button class="btn btn-success"  id="but">ajax按钮</button>
</body>
<script type="text/javascript">
$(function(){

	$("#but").click(function(){
		$.ajax({
			url:'ajax',
			data:{"name":"liuyanjun"},
			dataType:'html',
			error:function(){
				alert("请求出错了")
			},
			success:function(data){
				alert(data)
			},
			type:'GET'
			
			
		})
	})
	
})
//alert("ok")
</script>

</html>